html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}

body{
    color: white;
    background-color: black;
}

.navbar{
    position: fixed;
    background: transparent;
    width: 100%;
}


#myNavbar{
    float: right;
    font-size: 20px;
}

.row{
    margin-top: 50px;
}

/* .logo{
    position: relative;
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
} */

.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.photo img{
    margin-top: 50px;
    float: right;
    width: 440px;
    border-radius: 50%;
    box-shadow: 1px 2px 46px 8px white;
}

.content{
    padding: 180px 5%;
}

.content h3{
    font-size: 32px;
    font-weight: 700;
}

.content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}

#About-title{
    text-align: center;
    font-weight: bold;
    margin-top: 10%;
    color: white;
    font-size: 50px;
}

#About-title::after{
    position: absolute;
    content: ' ';
    width: 10%;
    height: 3px;
    left: 50%;
    bottom: -5px;
    background-color: white;
    transform: translateX(-50%);
}


.about-content{
    font-size: 20px;
    /* padding: 180px 5%; */
}

.myskills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .skill {
    text-align: center;
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.6rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    font-weight: 600;
    color: #ffffff;
  }


#Experience-title{
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    font-style: italic;
}

#Experience .sub-title{
    font-style: oblique;
}


#Experience-title::after{
    position: absolute;
    content: ' ';
    width: 20%;
    height: 3px;
    left: 50%;
    bottom: -5px;
    background-color: white;
    transform: translateX(-50%);
}

.container{
    width: 75%;
    height: auto;
    position: relative;
}

.container ul::after{
    position: absolute;
    content: '';
    width: 2px;
    height: 100%;
    background-image: linear-gradient(to right,white,white);
}


.container ul{
    list-style: none;
}

.container ul li{
    width: 50%;
    height: auto;
    background-color: grey;
    padding: 10px 10px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.container ul li:nth-child(odd){
    float: left;
    clear: right;
    transform: translateX(-30px);
}

.container ul li:nth-child(even){
    float: right;
    clear: left;
    transform: translateX(30px);
}

.container ul li .title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

ul li p{
    font-size: 15px;
    font-weight: 500;
    margin: 7px 0;    
}


.container ul li:nth-child(odd).circle{
    right: -30px;
    transform: translate(50%,-50%);
}

.container ul li .circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    box-shadow: 0px 0px 14px white;
    top: 0;
}
.container ul li .circle::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container ul li:nth-child(odd) .circle{
    right: -30px;
    transform: translate(50%, -50%);
}
.container ul li:nth-child(even) .circle{
    left: -30px;
    transform: translate(-50%, -50%);
}


#Project-title{
    font-weight: bold;
    text-align: center;
    font-size: 50px;
}

#Project-title::after{
    position: absolute;
    content: ' ';
    width: 15%;
    height: 3px;
    left: 50%;
    bottom: -5px;
    background-color: white;
    transform: translateX(-50%);
}

